        select {
            padding: 8px;
            width: 200px;
            float: left;
            margin: 10px 10px 10px;
        }

        #country_selector {
            width: 100%;
            height: auto;
        }

        #resultContainer {
            width: 100%;
            border: 1px solid #ccc;
            background-color: #f9f9f9;
            float: left;
        }

        #box_buttons {
            float: left;
            width: 100%;
            height: 50px;
        }
        /* Basic styling for results */
        .result-item {
            display: flex;
            margin-bottom: 20px;
            border: 1px solid #ccc;
            padding: 10px;
        }

        .result-item img {
            width: 150px;
            height: auto;
        }

        .result-item div {
            display: flex;
            flex-direction: column;
        }

        .result-item h4 {
            margin: 0;
        }

        .result-item p {
            margin: 5px 0;
        }

        #filterButton {
            margin: 10px 10px 10px;
            background-color: #f1f1f1;
            transition: background-color 0.3s, color 0.3s; 
            color: black; 
            border: none; 
            padding: 8px 12px; 
            font-size: 14px; 
            border-radius: 5px; 
            cursor: pointer; 
            transition: background 0.3s;"
        }

        #filters {
            display: none;
            float: left;
        }

        .filter {
            float: left;
        }

        .filter-button {
            background-color: #f1f1f1;
            border: 1px solid #ccc;
            padding: 8px 12px;
            margin: 4px;
            font-size: 14px;
            cursor: pointer;
            border-radius: 4px;
            transition: background-color 0.3s, color 0.3s;
            display: none; /* Initially hidden */
        }

        .filter-button.show {
            display: inline-block; /* Make visible if 'show' class is added */
        }

        .filter-button:hover {
            background-color: #007bff;
            color: white;
        }

        .filter-button.selected {
            background-color: #28a745;
            color: white;
            border-color: #28a745;
        }

        .filter-button:active {
            background-color: #0056b3;
            color: white;
        }

        .filter-button:focus {
            outline: none;
        }
